<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
</head>
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="height:400px"></div> <!-- ECharts单文件引入 -->
<script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
<script type="text/javascript"> // 路径配置
    require.config({
        paths: {
            echarts: 'http://echarts.baidu.com/build/dist'
        }
    });

    var xData = ["1","2","3","4","5","6","7","8","9","10","11","12"];
    var yData = [50, 120, 140, 10, 100, 20, 50, 20, 40, 100, 100, 20];
    // 使用
    require(
            [
                'echarts',
                'echarts/chart/bar' // 使用柱状图就加载bar模块，按需加载
            ],
            function (ec) {
                // 基于准备好的dom，初始化echarts图表
                var myChart = ec.init(document.getElementById('main'));

                var option = {
                    title: {
                        x: 'center',
                        text: 'XXXXXXXXXXXXX系统',
                        subtext: 'xxxxxxxx',
                        textStyle: {
                            color: '#555',
                            fontFamily:'微软雅黑',
                            fontSize:'14'
                        }
                    },
                    tooltip: {
                        show: true
                    },
                    /*
                    legend: {
                        data:['销量']
                    },*/
                    xAxis : [
                        {
                            type : 'category',
                            data : xData,
                            splitLine: {
                                show: false
                            },
                            axisLine: {
                                lineStyle: {
                                    color: '#dedede',
                                    width: 1,
                                    type: 'solid'
                                }
                            },
                            axisTick: {
                                show: false
                            }
                        }
                    ],
                    yAxis : [
                        {
                            type : 'value',
                            splitLine: {
                                lineStyle: {
                                    color: ['#f0f0f0'],
                                    width: 1,
                                    type: 'solid'
                                }
                            },
                            axisLine: {
                            lineStyle: {
                                color: '#dedede',
                                width: 1,
                                type: 'solid'
                            }
                        }
                        }
                    ],
                    series : [
                        {
                            "name":"销量",
                            "type":"bar",
                            barWidth:50,
                            itemStyle : {
                                normal: { color: '#2a9ccc'}
                            },
                            "data":yData
                        }
                    ]
                };

                // 为echarts对象加载数据 
                myChart.setOption(option);
            }
    );
</script>
</body>